.app-search{
    margin-bottom: 15px;

}

.app-search-input{
    width: 100%; /*กว้าง100เปอร์เซ็น*/
    padding: 8px;
    font-size: 16px;
    /*ที่เกยออกมาให้อยูในกรอบ*/
    box-sizing: border-box;
    border: 1px solid gray;
}