.app-section{
    padding: 30px;
}

.app-container{
    /*ให้อยู่ตรงกลาง*/
    max-width:800px ;
    margin-left: auto;
    margin-right: auto;
}

.app-grid{
    display: grid; /*ให้เปนกริต*/
    grid-template-columns: 1fr 1fr; /*ใส่คอลัมม์ไป2ตัว ขนาดเท่ากัน*/
    column-gap: 16px;/*ช่องว่างระหว่างคอลัมม์*/
    row-gap: 16px; /*ช่องว่างระหว่างแถว*/
}

